<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en" />
	<title>JavaPolylineEncoder</title>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAzr2EBOXUKnm_jVnk0OJI7xSosDVG8KKPE1-m51RBrvYughuyMxQ-i1QfUnH94QxWIa6N4U6MouMmBA" type="text/javascript"></script>
	<script type="text/javascript">
		function initialize() {
			if (GBrowserIsCompatible()) {
				var map = new GMap2(document.getElementById("map_canvas"));

				var bounds = new GLatLngBounds;
				bounds.extend(new GLatLng({minLat}, {minLng})); 
				bounds.extend(new GLatLng({maxLat}, {maxLng})); 

				map.setCenter(bounds.getCenter(), map.getBoundsZoomLevel(bounds));
				map.setUIToDefault();
				map.setMapType(G_NORMAL_MAP);

				var encodedPolylines = new Array();
{tracks}
				for(var i = 0; i < encodedPolylines.length; i++) {
					map.addOverlay(encodedPolylines[i]);
				}
			}
		}
	</script>
</head>
<body onload="initialize()" onunload="GUnload()">
	<div id="map_canvas" style="width: 500px; height: 300px"></div>
</body>
</html>